<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
</head>
<body>
    <h1> Calculate your BMI </h1>
    <form action ="/calculate" method = "post">
        <label for ="weight">Weight</label><br>
        <input type = "number" id ="weight" name="weight"><br>
        <label for ="height">height</label><br>
        <input type = "number" id ="height" name="height"><br>
        <input type ="submit" value = "submit">
    </form>

</body>
</html>